Getting Data From Yahoo Finance

In [1]:
import pandas as pd

In [4]:

#import the library
pip install yfinance

SyntaxError: invalid syntax (<ipython-input-4-07fc83678d77>, line 2)

In [5]:
# install yahoo finance first (in command prompt: pip install yfinance)
# Then imprt yahoo finance
import yfinance as yf

# Download data
# data = yf.download("SPY AAPL", start="2017-01-01", end="2017-04-30")

In [8]:
df_yahoo = yf.download("AAPL", start="2000-01-01", end="2010-12-31", progress= False)

In [9]:
# inspect the data:
print(f'Downloaded {df_yahoo.shape[0]} row of data.') # here f'Downloaded **** row of data.' for extra text print
df_yahoo.head()

Downloaded 2767 row of data.

                Open      High       Low     Close  Adj Close     Volume
Date
1999-12-31  0.901228  0.918527  0.888393  0.917969   0.789364  163811200
2000-01-03  0.936384  1.004464  0.907924  0.999442   0.859423  535796800
2000-01-04  0.966518  0.987723  0.903460  0.915179   0.786965  512377600
2000-01-05  0.926339  0.987165  0.919643  0.928571   0.798481  778321600
2000-01-06  0.947545  0.955357  0.848214  0.848214   0.729382  767972800

In [10]:
## Getting data from Quandl

In [11]:
pip install Quandl

Collecting Quandl
  Downloading Quandl-3.6.1-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: numpy>=1.8 in c:\users\user\anaconda33\lib\site-packages (from Quandl) (1.20.1)
Requirement already satisfied: python-dateutil in c:\users\user\anaconda33\lib\site-packages (from Quandl) (2.8.1)
Requirement already satisfied: pandas>=0.14 in c:\users\user\anaconda33\lib\site-packages (from Quandl) (1.2.4)
Requirement already satisfied: more-itertools in c:\users\user\anaconda33\lib\site-packages (from Quandl) (8.7.0)
Collecting inflection>=0.3.1
  Downloading inflection-0.5.1-py2.py3-none-any.whl (9.5 kB)
Requirement already satisfied: requests>=2.7.0 in c:\users\user\anaconda33\lib\site-packages (from Quandl) (2.25.1)
Requirement already satisfied: six in c:\users\user\anaconda33\lib\site-packages (from Quandl) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\user\anaconda33\lib\site-packages (from pandas>=0.14->Quandl) (2021.1)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\user\anaconda33\lib\site-packages (from requests>=2.7.0->Quandl) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda33\lib\site-packages (from requests>=2.7.0->Quandl) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\anaconda33\lib\site-packages (from requests>=2.7.0->Quandl) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\user\anaconda33\lib\site-packages (from requests>=2.7.0->Quandl) (2.10)
Installing collected packages: inflection, Quandl
Successfully installed Quandl-3.6.1 inflection-0.5.1
Note: you may need to restart the kernel to use updated packages.

In [12]:
import quandl

In [14]:
df_quandl = quandl.get( dataset = 'WIKI/AAPL', start_date="2000-01-01", end_date="2010-12-31")

In [15]:
# inspact the data
print(f'Downloaded {df_quandl.shape[0]} row of data.')
df_quandl.head()

Downloaded 2767 row of data.

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2000-01-03,104.87,112.50,101.69,111.94,4783900.0,0.0,1.0,3.369314,3.614454,3.267146,3.596463,133949200.0
2000-01-04,108.25,110.62,101.19,102.50,4574800.0,0.0,1.0,3.477908,3.554053,3.251081,3.293170,128094400.0
2000-01-05,103.75,110.56,103.00,104.00,6949300.0,0.0,1.0,3.333330,3.552125,3.309234,3.341362,194580400.0
2000-01-06,106.12,107.00,95.00,95.00,6856900.0,0.0,1.0,3.409475,3.437748,3.052206,3.052206,191993200.0
2000-01-07,96.50,101.00,95.50,99.50,4113700.0,0.0,1.0,3.100399,3.244977,3.068270,3.196784,115183600.0

In [ ]:
# Converting prices to return: they are two types: 1- Simple returns, 2- Long returns
# simple returns: Rt =(Pt-Pt-1)/Pt-1 = Pt/Pt-1 - 1 (Rt  for price an asset in time t)
# Log returns: rt =log(Pt-Pt-1)/Pt-1 = log(Pt) - log(Pt-1) (Rt  for price an asset in time t)

# Converting prices to returns

In [ ]:
# how to do it
1. # import the libraries ( pandas, numpy , yfinance)

In [37]:
import numpy as np

In [38]:
# 2. Download the data and keep the adjusted close prices only
df = yf.download("AAPL", start="2000-01-01", end="2010-12-31", progress= False)
df = df.loc[:, ['Adj Close']]
df.rename(columns={'Adj Close':'adj_close'}, inplace=True)

In [39]:
# 3. convert adjusted close prices to simple and long returns:
df['simple_rtn'] = df.adj_close.pct_change()
df['log_rtn'] = np.log(df.adj_close/df.adj_close.shift(1))

In [40]:
# 4. inspect the output:

In [41]:
df.head()

            adj_close  simple_rtn   log_rtn
Date
1999-12-31   0.789364         NaN       NaN
2000-01-03   0.859423    0.088754  0.085034
2000-01-04   0.786965   -0.084310 -0.088077
2000-01-05   0.798481    0.014633  0.014527
2000-01-06   0.729382   -0.086538 -0.090514

In [42]:
# Consumer Price Index(CPI):
### There's more
# 1. import libraries and suthenticate:

In [43]:
import pandas as pd
import quandl

In [23]:
# 2. Create a DataFrame with all possible dates and left join the prices oon it |t

In [46]:
df_all_dates = pd.DataFrame(index=pd.date_range(start='1999-12-31', end='2010-12-31'))
df = df_all_dates.join(df[['adj_close']], how='left').fillna(method='ffill').asfreq('M')

In [50]:
#3 Download inflation data from Quandl
df_cpi = quandl.get(dataset='RATEINF/CPI_USA',start_date='1999-12-01', end_date='2010-12-31')
df_cpi.rename(columns={'Value':'cpi'}, inplace=True)

LimitExceededError: (Status 429) (Quandl Error QELx01) You have exceeded the anonymous user limit of 50 calls per day. To make more calls today, please register for a free Quandl account and then include your API key with your requests.

In [ ]:
#4. Merge inflation data to prices
df_merged = df.join(df_cpi, how='left')

In [ ]:
#5.  calculate simple returns and inflation rate:
df_merged['simple_rtn'] = df_merged.adj_close.pct_change()
df_merged['inflation_rate'] = df_merged.cpi.pct_change()

In [36]:
#6. Adjust returns for inflation:
df_merged['real_rtn'] = (df_merged.simple_rtn + 1)/ (df_merged.inflation_rate + 1)  - 1
df_merged.head()

                     adj_close  cpi  simple_rtn  inflation_rate  real_rtn
1999-12-01 00:00:00        NaN  NaN         NaN             NaN       NaN
1999-12-01 01:00:00        NaN  NaN         NaN             NaN       NaN
1999-12-01 02:00:00        NaN  NaN         NaN             NaN       NaN
1999-12-01 03:00:00        NaN  NaN         NaN             NaN       NaN
1999-12-01 04:00:00        NaN  NaN         NaN             NaN       NaN

In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'