In [1]:
import pandas as pd

In [2]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)# year, month, day, hour, minute, second
dt.day

29

In [3]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [4]:
dt.strftime('%d/%m/%Y %H:%M')

'29/10/2011 20:30'

In [5]:
dt.strftime('%d/%m/%Y')

'29/10/2011'

In [6]:
delta = datetime(2019, 1, 7) - datetime(2018, 6, 24, 8, 15)

In [7]:
delta

datetime.timedelta(days=196, seconds=56700)

In [8]:
delta#.second

datetime.timedelta(days=196, seconds=56700)

In [10]:
delta.seconds

56700

In [11]:
stamp = datetime(2019, 1, 3)
print (str(stamp))
print(stamp.strftime('%Y-%m-%d'))

2019-01-03 00:00:00
2019-01-03

In [12]:
value = '19-January-03'
datetime.strptime(value, '%y-%B-%d')

datetime.datetime(2019, 1, 3, 0, 0)

In [13]:
import pandas as pd
import numpy as np
ts = pd.Series(np.random.randn(4),
index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts

2000-01-31    0.667165
2000-02-29    0.550218
2000-03-31    0.655984
2000-04-30   -0.991852
Freq: M, dtype: float64

In [14]:
import pandas as pd
import numpy as np
ts = pd.Series(np.random.randn(4),
index=pd.date_range('1/1/2000', periods=4, freq='Q'))
ts

2000-03-31   -1.273015
2000-06-30    1.287585
2000-09-30    1.318320
2000-12-31    0.793819
Freq: Q-DEC, dtype: float64

In [15]:
import pandas as pd
import numpy as np
ts = pd.Series(np.random.randn(4),
index=pd.date_range('1/1/2000', periods=4, freq='Y'))
ts

2000-12-31    1.689688
2001-12-31   -0.221436
2002-12-31    0.534724
2003-12-31   -1.113147
Freq: A-DEC, dtype: float64

In [17]:
ts = pd.Series(np.random.randn(4),
index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts

2000-01-31   -1.109239
2000-02-29    0.400026
2000-03-31    1.002201
2000-04-30   -1.128296
Freq: M, dtype: float64

In [16]:
ts = pd.Series(np.random.randn(4),
index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.187939
2000-04-30   -0.793735
Freq: M, dtype: float64

In [18]:
from pandas.tseries.offsets import Day, MonthEnd
now = datetime(2011, 11, 17)
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [19]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [20]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')