# Creating Lists
A simple lists contains comma separated objects enclosed in square brackets
emplty_list = []
sample_list = [1, 2, 3 , 4, 4, 5, 5]
List object types are not restricted so mix of object types can be single list
mixed_list = [

In [1]:
import pandas as pd

In [2]:
emplty_list = [] 
sample_list = [1, 2, 3 , 3, 4, 5, 5]

In [3]:
print(emplty_list)

[]

In [4]:
mixed_list = [1, 34, .999, 'chair', 'dog', sample_list,emplty_list ]
print(mixed_list)

[1, 34, 0.999, 'chair', 'dog', [1, 2, 3, 3, 4, 5, 5], []]

In [5]:
print(type(mixed_list))

<class 'list'>

In [6]:
# Accessing Lists by using Index
stu_name =['Rabbi', 'jamal', 'habib','motiur']
stu_name[0]

'Rabbi'

In [8]:
print(stu_name[3])

motiur

In [11]:
print(stu_name[3], "4th element")
print(stu_name[-1], "is the same", stu_name[3])

motiur 4th element
motiur is the same motiur

In [13]:
mark = [100, 34, 80, 75, 55]
sum_mark = mark[0]+mark[1]+mark[2]+mark[3]+mark[4]
print("Total Marks= ", sum_mark)

Total Marks=  344

In [14]:
# Insert a new value for an index
stu_name =['Rabbi', 'jamal', 'habib','motiur']
stu_name[0] = 'Kabir'
print(stu_name)

['Kabir', 'jamal', 'habib', 'motiur']

In [15]:
stu_name[2] = stu_name[2] + ' Chy'
print(stu_name)

['Kabir', 'jamal', 'habib Chy', 'motiur']

In [16]:
stu_name[3] =  ' Motiur Rahman'
print(stu_name)

['Kabir', 'jamal', 'habib Chy', ' Motiur Rahman']

In [17]:
stu_name[1] =  2
print(stu_name)

['Kabir', 2, 'habib Chy', ' Motiur Rahman']

# Appending to a List
.append() method adds an item to the end of a list

In [18]:
test = [1,1,2]
print(test)

[1, 1, 2]

In [19]:
test.append(4)
print(test)

[1, 1, 2, 4]

In [20]:
test.append(8)
print(test)

[1, 1, 2, 4, 8]

In [21]:
mix_type =[1,'Habib']
mix_type.append(4.5)
print(mix_type)

[1, 'Habib', 4.5]

# Insert Items into a list
use  .insert() te define an index to insert an item
Inserts, doesn't overwrite
Increases index by 1, at and above the insertion point
can use to append a new index to the end of the list

In [3]:
tecr_list = ['Nur Alam', 'Basar', 'satyen']
print("Teacher list: ", tecr_list)
print("Index 1 is", tecr_list[1], "\n Index 2 is", tecr_list[2])

Teacher list:  ['Nur Alam', 'Basar', 'satyen']
Index 1 is Basar
 Index 2 is satyen

In [6]:
tecr_list.insert(3,'Rabbi')
print("New Teacher: ", tecr_list)
print("Index 0 is", tecr_list[0], "\nIndex 1 is",tecr_list[1], "\nIndex 2 is", tecr_list[2] )

New Teacher:  ['Rabbi', 'Rabbi', 'Nur Alam', 'Rabbi', 'Basar', 'satyen']
Index 0 is Rabbi
Index 1 is Rabbi
Index 2 is Nur Alam

In [7]:
tecr_list.insert(10,'Mahabub')
print("New Teacher: ", tecr_list)
print("Index 0 is", tecr_list[0], "\nIndex 1 is",tecr_list[1], "\nIndex 2 is", tecr_list[2] )

New Teacher:  ['Rabbi', 'Rabbi', 'Nur Alam', 'Rabbi', 'Basar', 'satyen', 'Mahabub']
Index 0 is Rabbi
Index 1 is Rabbi
Index 2 is Nur Alam

# Delete a specific list Index
del statement
del tecr_list[1]

In [8]:
del tecr_list[1]
print(tecr_list)

['Rabbi', 'Nur Alam', 'Rabbi', 'Basar', 'satyen', 'Mahabub']

In [9]:
print("Before delete:", tecr_list)
del tecr_list[-4] # Delete backword number 4
print(tecr_list)

Before delete: ['Rabbi', 'Nur Alam', 'Rabbi', 'Basar', 'satyen', 'Mahabub']
['Rabbi', 'Nur Alam', 'Basar', 'satyen', 'Mahabub']

In [10]:
# Practice
mix_type = [20, "Jabin"]
print("Before: ", mix_type)
mix_type.append(21)
print("After 1st change:", mix_type)
mix_type.append("Sumaiya")
print("After 2nd change:", mix_type)
del mix_type[0]
print("After Delete 3rd change:", mix_type)

Before:  [20, 'Jabin']
After 1st change: [20, 'Jabin', 21]
After 2nd change: [20, 'Jabin', 21, 'Sumaiya']
After Delete 3rd change: ['Jabin', 21, 'Sumaiya']

# .pop() gets and deletes item in list
.pop() method default is last item in a list
last_item = tecr_list.pop()
first_item = tecr_list.pop(0
                          )

In [11]:
 print(tecr_list)

['Rabbi', 'Nur Alam', 'Basar', 'satyen', 'Mahabub']

In [12]:
last_item = tecr_list.pop() # Delete last Item
first_item = tecr_list.pop(0) # Delete 1st Item

In [13]:
print(last_item) 
print(first_item)

Mahabub
Rabbi

In [14]:
print(tecr_list)

['Nur Alam', 'Basar', 'satyen']

In [15]:
print("1st index (Basar):", tecr_list.pop(1))

1st index (Basar): Basar

In [16]:
print(tecr_list)

['Nur Alam', 'satyen']

In [17]:
# practice
num_list = [10, 11, 12, 13, 17, 201, 301, 202, 333]
print("Before: ", num_list)
num_list.pop(4)
print(num_list)

Before:  [10, 11, 12, 13, 17, 201, 301, 202, 333]
[10, 11, 12, 13, 201, 301, 202, 333]

In [21]:
# Example:  set a variable to a poped value
print("Before:" ,num_list )
num_1 = num_list.pop() # last item 333
num_2 = num_list.pop() # next last item 202
print("After: ", num_list)
print("Add last two popped values:", num_1, "+" , num_2, "=", num_1 + num_2 )

Before: [10, 11, 12, 13]
After:  [10, 11]
Add last two popped values: 13 + 12 = 25

In [ ]:
# Practive: 
.pop() 
# [] pop() and print the 1st and last items from item from the test Item
test = ['Rabbi', 'Nur Alam', 'Basar', 'satyen', 'Mahabub', 'Kader', 'Joynal']
# [] print the remaining list

In [22]:
test = ['Rabbi', 'Nur Alam', 'Basar', 'satyen', 'Mahabub', 'Kader', 'Joynal']
print("Before: ", test)
print("1st delete: ", test.pop(0))
print("Last delete: ", test.pop())
print("After two pop: ", test)

Before:  ['Rabbi', 'Nur Alam', 'Basar', 'satyen', 'Mahabub', 'Kader', 'Joynal']
1st delete:  Rabbi
Last delete:  Joynal
After two pop:  ['Nur Alam', 'Basar', 'satyen', 'Mahabub', 'Kader']

# Empty l;ist is False
An Empty list is False
in a conditional an empty list will evaluate False
This allows creating a while loop that runs untill a list is empty
while color_types:

In [24]:
color_types = ["green", "yellow", "red"]
print(color_types,"\n")
while color_types:
    print(color_types.pop(), "popped, list is now=", color_types)

['green', 'yellow', 'red']

red popped, list is now= ['green', 'yellow']
yellow popped, list is now= ['green']
green popped, list is now= []

In [25]:
color_types = ["green", "yellow", "red"]
while color_types:
    print(color_types.pop())

red
yellow
green

# Delete a specific object from a list with .remove()
Delete a specific object from a list with .remove()
.remove(object) removes the 1st item that matches

color_types.remove("green")
ValuesError occurs if the object is not abailable to be removed

In [26]:
# Example
colors = ["green", "blue", "black", "red"]
colors.remove("red")
print(colors)

['green', 'blue', 'black']

In [27]:
colors = ["green", "blue", "black", "red", "yellow", "blue"]
print(colors)
colors.remove("blue") # delete 1st matches
print(colors)

['green', 'blue', 'black', 'red', 'yellow', 'blue']
['green', 'black', 'red', 'yellow', 'blue']

In [30]:
colors = ["red", "green", "blue", "black", "red", "yellow", "blue"]

print(colors)
while "red" in colors:
          colors.remove("red")
          print(colors)

['red', 'green', 'blue', 'black', 'red', 'yellow', 'blue']
['green', 'blue', 'black', 'red', 'yellow', 'blue']
['green', 'blue', 'black', 'yellow', 'blue']

In [32]:
colors = ["green", "blue", "black", "red", "yellow", "blue"]

print(colors)
if "red" in colors:
          colors.remove("red")
else:
     print("Not red found")
print(colors)

['green', 'blue', 'black', 'red', 'yellow', 'blue']
['green', 'blue', 'black', 'yellow', 'blue']

In [33]:
colors = ["green", "blue", "black", "red", "yellow", "blue"]

print(colors)
if "pink" in colors:
          colors.remove("pink")
else:
     print("Not red found")
print(colors)

['green', 'blue', 'black', 'red', 'yellow', 'blue']
Not red found
['green', 'blue', 'black', 'red', 'yellow', 'blue']

# .format()
Which allows multiplw substitutions and value formatting.

In [35]:
grade = 6
stuName ="Abdullah"
print(stuName,"is in class", grade)

Abdullah is in class 6

In [36]:
grade = 6
stuName ="Abdullah"
print(stuName + "is in class" + grade)

TypeError: can only concatenate str (not "int") to str

In [39]:
grade = 6
stuName ="Abdullah"
print(stuName + " is in class " + str(grade))

Abdullah is in class 6

In [40]:
grade = 6
stuName ="Abdullah"
print(stuName + " is in class " + str(grade))
print('{} is in class {} '.format(stuName,grade)) # Use of format

Abdullah is in class 6
Abdullah is in class 6

In [42]:
custname ="Nasir"
mango = 1
orange =2
lichi = 3
print(custname, 'eats {}, {}, and {}, servings of fruit daily.'.format(orange, mango,  lichi))

Nasir eats 2, 1, and 3, servings of fruit daily.

In [43]:
# That all

In [2]:
# change item
fruits = ["banana", "lemon", "apple", "orange"]
print(fruits)
fruits[2]= "fig"
print(fruits)

['banana', 'lemon', 'apple', 'orange']
['banana', 'lemon', 'fig', 'orange']