In [1]:
import pandas as pd

In [4]:
yourAge = input("What is your age: ")
birthYear = 2021- int(yourAge)
print(birthYear)

What is your age: 54
1967

In [6]:
# Math Operation
numberA = float(input("First: "))
numberB = float(input("Second: "))
sub = numberA-numberB
print("Result: " + str(sub))

if sub<0:
    print("-ve number.")
else:
    print("+ve number.")

First: 15
Second: 26
Result: -11.0
-ve number.

In [7]:
# work with string
test1 = "Hi your daughter Cannot admit due to money."
print(test1.upper())

HI YOUR DAUGHTER CANNOT ADMIT DUE TO MONEY.

In [8]:
test1 = "Hi your daughter Cannot admit due to money."
print(test1.lower())

hi your daughter cannot admit due to money.

In [9]:
print(test1.find('m'))

26

In [10]:
print(test1.find('y'))

3

In [11]:
print(test1.replace('money', 'Dollar'))

Hi your daughter Cannot admit due to Dollar.

In [12]:
print(test1.find('money')) # potision of first carecter of letterx =15

37

In [15]:
x = 6
y = 15
print(y%x)
print(2**3)
x = x+y 
print(x)
x += y
print(x)

3
8
21
36

In [20]:
carSpeed = 110
if carSpeed>100:
    print("You drive too fast")
elif carSpeed<20:
    print("You drive too slow. This is a highway")
else:
    print("You drive is good")
print("Ready")

You drive too fast
Ready

In [25]:
Practice of nested if
# Master degree required
# more than 2 years of experience
degree = input ("What is yoiur degree? Master, Bachelor or PhD")
experience = input ("How many years of experince do you have?")
if degree == "Master" or  degree == "master" or degree == "PhD" or degree == "phd" :
    if int(experience)>=2:
        print("Your are accepted for the interview")
    else:
        print("you dont have enough experiene")
else:
    print("you dont have required degree")

What is yoiur degree? Master, Bachelor or PhDMaster
How many years of experince do you have?5
Your are accepted for the interview

In [26]:
# while and for loop
i = 0
while i<=5:
    print(i)
    i=i+1

0
1
2
3
4
5

In [27]:
i = 0
while i<=5:
    print(i)
    print(i*i)
    i=i+1

0
0
1
1
2
4
3
9
4
16
5
25

In [29]:
temperatures = [67, 30, 70, 43, 91]
for item in temperatures:
    print(item)

67
30
70
43
91

In [31]:
numbers = range(10)
for x in numbers:
    print(x)

0
1
2
3
4
5
6
7
8
9

In [32]:
numbers = range(50,100,5)
for x in numbers:
    print(x)

50
55
60
65
70
75
80
85
90
95

In [34]:
# Data stuctures
techList =["Apple", "MicroSoft", "Samsung", "Dell", "HP"]
print(techList)

['Apple', 'MicroSoft', 'Samsung', 'Dell', 'HP']

In [35]:
print(techList[0:2])

['Apple', 'MicroSoft']

In [36]:
techList[0]= "Tesla"
print(techList)

['Tesla', 'MicroSoft', 'Samsung', 'Dell', 'HP']

In [37]:
techList.remove("HP")
print(techList)

['Tesla', 'MicroSoft', 'Samsung', 'Dell']

In [38]:
techList.insert(3, "Assus")
print(techList)

['Tesla', 'MicroSoft', 'Samsung', 'Assus', 'Dell']

In [39]:
print("Assus" in techList)

True

In [40]:
techList.clear()
print(techList)

[]

In [41]:
# dictionary
fruits = {'banana':0.59, 'orange': 1.6, 'apple': 2.50} 
print(fruits)

{'banana': 0.59, 'orange': 1.6, 'apple': 2.5}

In [43]:
print(fruits['orange'])

1.6

In [44]:
fruits['melon'] = 3
print(fruits)

{'banana': 0.59, 'orange': 1.6, 'apple': 2.5, 'melon': 3}

In [45]:
print('apple' in fruits)

True

In [46]:
def test_pass():
assert(3,4,5)==(3,4,5)

IndentationError: expected an indented block (<ipython-input-46-2a9227e1b4cb>, line 2)